.hero-block{
    position: relative;
    overflow: hidden;
    width: 100%;
    &__picture{
        position: absolute;
        top: 0;
        left: 100%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../pictures/green-3851975_1280.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        transition:  0.4s;
        &.right{
        left: 0;
        }
        &.left{
        left: 100%;
        }
    }
    &__buttons{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: start;
        right: 0;
        bottom: 0;
        background-color: $sectionBackground;
        animation: arrows 2s infinite alternate both;
    }
    &__button{
        color: $fontBlack;
        font-size: 22px;
        font-weight: bolder;
        padding: 0.7em;
        cursor: pointer;
        animation: arrow 2s infinite alternate;
        }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2em;
        background-color: $fontBackgroundHero;
        transition : 0.4s ;
        &.right{
         transform: translateX(0);
        }
        &.left{
         transform: translateX(-100%);
        }
        &-header{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 34px;
        }
        &-paragraph{
            text-align: center;
            font-family: 'Inter', sans-serif;
            margin-top: 2em;
            font-size: 17px;   
        }
        &-buttons{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;
            margin-bottom: 2em;
             button{
                margin: 1em auto;
                border: none;
                padding: 12px 24px 14px 24px;
                border-radius: 40px;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                transition: color 0.3s,background-color 0.3s,box-shadow 0.3s;
            }
            .first{
                background-color:$mainGreen;
                color:$sectionBackground;
             &:hover,&:focus{
                outline: none;
                color:$mainGreen;
                background-color:$sectionBackground;
                box-shadow: 3px 3px 7px $fontBlack;
             }
            }
            .second{
                margin: 1em auto;
                border: 1px solid $mainGreen;
                color: $mainGreen;
                background-color: transparent;
                 &:hover,&:focus{
                outline: none;
                color:$sectionBackground;
                background-color:$mainGreen ;
                box-shadow: 3px 3px 7px $fontBlack;
             }
            }
        }
    }
}
@media(min-width: 768px){
    .hero-block{
    &__button{
        font-size: 32px;  
        }
    &__text{
        &-header{
            font-size: 54px;
        }
        &-paragraph,&-buttons{
            font-size: 26px;   
        }
    }
}
}
@media (min-width: 1024px){
.hero-block{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    &__picture{
       min-height: 90vh;
        width: 50%;
        &.right{
        position: absolute;
        top: 0;
        left: 100%;
        }
        &.left{
        position: initial;
        transform: translateX(0);
        }
    }
    &__button{
        font-size: 32px;  
        }
    &__text{
        min-height: 90vh;
        align-items: flex-start;
        justify-content: center;
        padding: 0 5em 0 3em;
        &.right{
         width: 50%;
         transform: translateX(0);
        }
        &.left{
         transform: translateX(0);
         width: 100%;
        }
        &-header{
            text-align: left;
            font-size: 50px;
        }
        &-paragraph{
            text-align: left;
            font-size: 16px;
            padding: 0 6em 0 0;   
        }
        &-buttons{
            flex-direction: row;
            justify-content: space-between;
             button{
                margin: 1em auto;
                border: none;
                padding: 12px 24px 14px 24px;
                border-radius: 20px;
                transition: color 0.3s,background-color 0.3s,box-shadow 0.3s;
            }
            .first{
                margin-right: 18px;
            }
            .second{
                margin-left: 18px;
            }
        }
    }
}
}
@media (min-width: 1200px){
.hero-block{
    &__text{
        &-header{
            font-size: 60px;
        }
    }
}
}