* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-margin-top: 80px;
    scroll-behavior: smooth;
}
@import './colors';
@import './navigation';
@import './animations';
@import './hero-block';
@import './offer';
@import './about';
@import './projects';